<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>404 - Page Not Found</title>
  <link rel="stylesheet" href="/css/error.css">
  <script
    src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
    type="module"
  ></script>
</head>
<body>
  <div class="fullscreen-error">
    <dotlottie-player
      src="https://lottie.host/562c8436-ccd9-41e8-b31b-512889b91a00/w3HboIA29a.lottie"
      background="transparent"
      speed="1"
      style="width: 300px; height: 300px"
      loop
      autoplay
    ></dotlottie-player>

    <p>The page you're looking for doesn't exist.</p>
    <a href="/">Return Home</a>
  </div>
</body>
</html>
